*.iml
*.apk
*.aab
*.jks
*.pepk
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
!gradle-wrapper.jar
Keystore/credentials.txt
app/release/output-metadata.json
Keystore/data.json
Keystore/motivation_v1.db
